body {
background-color: beige;    
}
.HEADER {
font-family: 'Franklin Gothic Medium';
font-size: 30px;
font-style: normal;
font-weight: 800;
} 
.WRAPPER {
width: 1200px;
height: auto;
margin: auto;  
display: flex;
flex-direction: column;
}
.accord {
display: flex;
flex-direction: column;
} 
#two {
opacity: 0; 
width: 1px;
height: 1px;
}
#two:hover {
opacity: 1;
width: auto;
height: auto; 
cursor: pointer;
transition: 0.03s;
}
#three {
opacity: 0; 
width: 1px;
height: 1px;
}
#three:hover {
opacity: 1;
width: auto;
height: auto; 
cursor: pointer;
transition: 0.03s;
}
#four {
opacity: 0; 
width: 1px;
height: 1px;
}
#four:hover {
opacity: 1;
width: auto;
height: auto; 
cursor: pointer;
transition: 0.03s;
}
#five {
opacity: 0; 
width: 1px;
height: 1px;
}
#five:hover {
opacity: 1;
width: auto;
height: auto; 
cursor: pointer;
transition: 0.03s;
}
.total-accord-item {
display: flex;   
flex-direction: row; 
justify-content: space-between;
}
.accord-item {
font-family: 'Franklin Gothic Medium';  
font-size: 24px;
font-style: normal;
font-weight: 400;
margin-bottom: 10px;
}
.meme {
width: 387px;   
height: 386px; 
margin: 0px auto;
}
.accord-item{
color: #00BFFF;    
}
#accord-item_1 {
color: black 
}